<ion-header [translucent]="true" >
  <ion-toolbar color="success" align="middle">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  padding class="getstart">

<ion-card color="warning">
<ion-card-content align="middel">
<b>
Welcome to Photo Gallery App</b>
<br>
<u><b>Developed By Pritam Gayen</b></u>
</ion-card-content>
</ion-card>
<ion-card color="primary">
<ion-card-content>
<ion-scroll scrollX="true" scrollY="true">
We'll create a Photo Gallery app that offers the ability to take photos with your device's camera, display them in a grid, and store them permanently on the device.
<br><br><b><u>Highlights include:</u></b>
<br><br>
*# One Angular-based codebase that runs on the web, iOS, and Android using Ionic Framework UI components.
<br>*# Deployed as a native iOS and Android mobile app using Capacitor, Ionic's official native app runtime.<br>
<br><u>
Download and install these right away to ensure an optimal Ionic development experience:</u>
<br><br>
*# Node.js for interacting with the Ionic ecosystem. Download the LTS version here.
*# A code editor for... writing code! We are fans of Visual Studio Code.<br><br>
<b>Command-line interface/terminal (CLI):</b><br>
*# Windows users: for the best Ionic experience, we recommend the built-in command line (cmd) or the Powershell CLI, running in Administrator mode.
<br><br>*# Mac/Linux users, virtually any terminal will work.
</ion-scroll>
</ion-card-content>
</ion-card>
</ion-content>
